* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}




.cover {
    height: 100vh;
    max-height: 500px;
    background-color: lightblue;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cover .left {
    width: 45%;
}

.cover .left h1 {
    font-size: 60px;
    font-weight: 900;
}

.cover .left p {
    font-size: 30px;
    font-weight: 500;
}

.cover .right {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover .right img {
    width: 100%;
    max-width: 400px;
}


.content {
    max-width: 1000px;
    margin: 50px auto;
}

.content .code {
    background-color: rgb(237, 241, 245);
    padding: 20px 30px;
    border-radius : 10px;
    margin: 20px;
}

.content h1 {
    font-size: 35px;
    font-weight: 800;
    margin: 10px 0px;
}

.content p {
    font-size: 20px;
}

.content h2 {
    margin: 50px 0px 10px 0px;
}


.content .endpoint h3 {
    margin-left: 20px;
    font-size: 22px;
}

.content .endpoint ul {
    margin-left: 40px;
    font-size: 20px;
}

.content .endpoint ul li {
    margin: 20px 0px;
}